*
installed-fonts.json
!.gitignore
!Poppins-Black.tff
!Poppins-BlackItalic.tff
!Poppins-Bold.tff
!Poppins-BoldItalic.tff
!Poppins-ExtraBold.tff
!Poppins-ExtraBoldItalic.tff
!Poppins-ExtraLight.tff
!Poppins-ExtraLightItalic.tff
!Poppins-Italic.tff
!Poppins-Light.tff
!Poppins-LightItalic.tff
!Poppins-Medium.tff
!Poppins-MediumItalic.tff
!Poppins-Regular.tff
!Poppins-SemiBold.tff
!Poppins-SemiBoldItalic.tff
!Poppins-Thin.tff
!Poppins-ThinItalic.tff
!OFL.txt
